/* @font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 100;
  src: url("./helvetica/Helvetica-light.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: url("./helvetica/Helvetica.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 500;
  src: url("./helvetica/Helvetica-Bold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: bold;
  src: url("./helvetica/Helvetica-Bold.woff") format("woff");
}

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: lighter;
  src: url("./helvetica/Helvetica-Bold.woff") format("woff");
} */
